{% extends "network/layout2.html" %}

{% load static %}

{% block title %}
    Sign In | Network
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h4 class="alert-heading">Well Done!</h4>
                <p>An Email has been sent to you for reset your password <b>Check Your Email</b></p>
                <p>Reset the password and login from there.</p>
                <hr>
                 
                 
            </div>
        </div>
        <center>

            <div class="col-sm-2 border-end">
                
                <a href="{% url 'login' %}" class="btn btn-primary">Back</a>
                
            </div>
        </center>
    </div>
     
{% endblock  %}
    
    