

{% extends "network/layout2.html" %}

{% load static %}

{% block title %}
    Sign Up | Network
{% endblock %}

{% block body %}
     
            <center>
                
                 
                <div class="text-center" style="margin-top: 8vh;">
                    <h3>Password Changed Successfully !!</h3>
                </div>
                <div class="col-sm-2 border-end">
                    
                    <a href="{% url 'profile' user.username %}" class="btn btn-primary">Profile</a>
                    
                </div>
            </center>
     

{% endblock %}
    
    
 